<% layout('layout') -%>
<h1> <%= title %></h1>
<ul>
    <% recepten.forEach(function(recept) {%>
    <li> <a href="/recepten/<%= recept.url %>"> <%= recept.name %></a> </li>
    <% }) %>
</ul>
<p> <a href="/recepten/suggest"> Suggereer een recept </a> </p>
<% block('header', "<nav><ul><li><a href='/'> home </a> </li> <li> <a href='/recepten'> recepten </a> </li> </ul> </nav> ") -%>
<% block('footer', "<p>&copy; Sofie </p>") -%>