@charset "utf-8";
/* CSS Document */

/* 
    Created on : 16-jan-2014, 14:25:54
    Author     : cyber02
*/
span{
    display: inline-block;
}
.col1 {
    width: 20em;
}
.col2 {
    width: 10em;
}
.JA{
    background-color: rgba(28,225,28,1.00);
}
.NEE{
    background-color: rgba(237,5,70,1.00);
}
#lijst ul{
	width:80%;
	padding:0;
}

#lijst ul li{
	list-style-type:none;
	padding:0.750em 0;

}

