<div >
    <h2>{{subtitel}}</h2>
    <form id="frmFilm" ng-model="movie">

        <div><label>_id</label><input type="text" ng-model="movie._id"/></div>
        <div><label>titel</label><input type="text"  ng-model="movie.titel"/></div>
        <div><label>filmNr</label><input type="text" ng-model="movie.filmNr"/></div>
        <div><label>beschrijving</label><textarea ng-model="movie.beschrijving"></textarea></div>
        <div><label>regisseur</label><input type="text" ng-model="movie.regisseur"/></div>
        <div><label>genre</label><input type="text"  ng-model="movie.genre"/></div>
        <div><label>duurtijd</label><input type="text"  ng-model="movie.duur"/></div>
        <div><label>release datum</label><input type="date" ng-model="movie.release" /></div>
        <div><label>Cast (vb: Robert De Niro, Jack Nicholson)</label><input type="text" title="gebruik een komma als afscheider" ng-model="movie.cast"/></div>
        <div><label>cover image</label><input type="text" ng-model="movie.foto"/></div>
        <div><label></label><input type="submit" value="Bijwerken" /></div>

        <!-- <div><label></label><button type="button" ng-click="newMovie()">Nieuwe Film</button></div> -->

    </form>
</div>